#_chat-list-container {
    background: rgba(150, 150, 150, 0.596);
    height: auto;
    width: auto;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    backdrop-filter: blur(10px); 
}