@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

#_youtube-chat-in-fullscreen-app {
    height     : auto;
    width      : auto;
    position   : absolute;
    font-family: 'Noto Sans JP', sans-serif;
    top        : 0px;
    left       : 0px;
    color      : #fff;
}



.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select  : none;
    /* Safari */
    -khtml-user-select   : none;
    /* Konqueror HTML */
    -moz-user-select     : none;
    /* Old versions of Firefox */
    -ms-user-select      : none;
    /* Internet Explorer/Edge */
    user-select          : none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* .__yt-chat-overlay-container {
    overflow-y     : auto;
    overflow-x     : hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(240, 240, 240, 0.3) transparent;
}

.__yt-chat-overlay-container::-webkit-scrollbar {
    width : 5px;
    height: 5px;
}

.__yt-chat-overlay-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.__yt-chat-overlay-container::-webkit-scrollbar-thumb {
    background   : rgba(240, 240, 240, 0.3);
    border-radius: 10px;
}

.__yt-chat-overlay-chat-list-container {
    padding: 10px;
}

.__yt-chat-overlay-live-chat-text-message {
    padding              : 5px 10px;
    display              : grid;
    grid-template-columns: 25px 1fr;
    grid-gap             : 1.25em;
}



.__yt-chat-overlay-author-image {
    border-radius: 50%;
    width        : 1.6em;
}

.__yt-chat-overlay-author-name {
    font-weight: 800;
    display    : inline-block;
    word-break : break-all;
}

.__yt-chat-overlay-is-member {
    color: green;
}

.__yt-chat-overlay-author-badge {
    width         : 1.25em;
    margin-right  : 5px;
    display       : inline-block;
    vertical-align: middle;
}

.__yt-chat-overlay-emoji {
    width         : 1.8em;
    margin-right  : 5px;
    margin-right  : 5px;
    display       : inline-block;
    vertical-align: middle;
}

.__yt-chat-overlay-message {
    font-size: 1em;
} */