/* Inspired by fiahfy/youtube-live-chat-selector 
 * https://github.com/fiahfy/youtube-live-chat-selector
*/

.ytcf-guest-hidden
yt-live-chat-item-list-render 
yt-live-chat-text-message-renderer[author-type=''] {
    display: none !important;
}

.ytcf-member-hidden
yt-live-chat-item-list-render 
yt-live-chat-text-message-renderer[author-type='member'] {
    display: none !important;
}

.ytcf-owner-hidden
yt-live-chat-item-list-render 
yt-live-chat-text-message-renderer[author-type='owner'] {
    display: none !important;
}

.ytcf-moderator-hidden
yt-live-chat-item-list-render 
yt-live-chat-text-message-renderer[author-type='moderator'] {
    display: none !important;
}

.ytcf-superchat-hidden
yt-live-chat-item-list-render 
yt-live-chat-paid-message-renderer {
    display: none !important;
}

.ytcf-supersticker-hidden
yt-live-chat-item-list-render 
yt-live-chat-paid-sticker-renderer {
    display: none !important;
}

.ytcf-membership-hidden
yt-live-chat-item-list-render 
yt-live-chat-membership-item-renderer {
    display: none !important;
}
